<!-- StoryBlok code for live Editor -->
<script src="//app.storyblok.com/storyblok-latest.js"></script>
<script>
    storyblok.init();
    storyblok.on(['change','published'], function(data) {
        document.body.classList.add('loading');
        var update_request = new XMLHttpRequest();

        update_request.open('GET', '/fetch/' + data.storyId, true);

        update_request.onload = function() {
            window.location.reload()
        };

        update_request.send();
    });
</script>