<config>
    "layout": "default",
    "title": "Examples",
    "strapline": "Lorem ipsum dolor sit amet.",
    "url": "/examples",
    "data": {
    	"banner": "",
    	"banner_hide": "",
    	"banner_image": "//a.storyblok.com/f/44792/16f01ae732/63a83918993f73a6808fd7162b0a97e8aa81cd97.png"
	}
</config>

<article style="margin: 40px 0;">
    <%- plugins.blocks([

    	// Put all your example blocks here
        // { component: '[Examples] My Example Block' },
    	{ component: '[Examples] Scrollable Navigation' },
        { component: '[Examples] Load More' }
    	
    ]) %>
</article>