<config>
    "layout": "default",
    "title": "Styleguide",
    "strapline": "Lorem ipsum dolor sit amet.",
    "url": "/styleguide",
    "data": {
    	"banner": "",
    	"banner_hide": "",
    	"banner_image": "//a.storyblok.com/f/44792/16f01ae732/63a83918993f73a6808fd7162b0a97e8aa81cd97.png"
	}
</config>

<article class="container" style="margin: 45px 0;">
	<h1>Heading 1</h1>
	<p><strong>Bold Text Style</strong> - lorem ipsum dolor sit amet, consectetur adipiscing elit mauris viverra convallis ullamcorper. Pellentesque id consequat nulla. Donec porttitor purus risus, at aliquam risus iaculis at. Fusce ullamcorper ligula id urna laoreet ultricies. Sed cursus bibendum feugiat. In orci sapien, aliquam <a href="">simple link style</a> convallis iaculis et sodales non justo. Morbi vel feugiat lorem, vitae auctor nunc. Vivamus aliquam nec mauris in finibus.</p>
	<h2>Heading 2</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est nihil rem exercitationem nemo saepe, sint enim autem atque debitis magnam pariatur dignissimos quae, quam molestiae voluptatum suscipit veritatis alias quia, et explicabo distinctio hic? Repudiandae eveniet et ipsa odit quas!</p>
	<a href="#" class="button">Primary Button</a>
	<a href="#" class="button button--secondary">Secondary Button</a>
	<a href="#" class="button button--no_background">No Background</a>
	<h3>Heading 3</h3>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde quod quas ut. Eaque blanditiis perferendis veniam itaque optio. Modi fuga quisquam delectus hic. Amet blanditiis distinctio eius, aspernatur nulla consequuntur eaque repudiandae, hic optio ratione alias, perspiciatis in cum totam!</p>
	<h4>Heading 4</h4>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea commodi ab cum at tempora. At culpa, doloribus asperiores delectus, odio perferendis neque nesciunt ab rerum saepe iure accusamus, praesentium libero voluptates mollitia velit quae. Cumque quas adipisci, reiciendis reprehenderit autem.</p>
	<a class="link_alternative" href="">Alternative Link</a>
	<h5>Heading 5</h5>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab vero aut, nobis illum, eius harum necessitatibus culpa neque magni quaerat, maxime debitis voluptatum quibusdam in nesciunt sint dolor? Reprehenderit, esse nihil.</p>
	<ul>
		<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, libero.</li>
		<li>Eaque voluptas reiciendis repellat atque obcaecati ipsum, repudiandae sit a!</li>
		<li>Pariatur omnis commodi, eum minus animi sint laudantium harum asperiores.</li>
		<li>Delectus velit commodi possimus, minus eum expedita dolorum perferendis rem.</li>
		<li>Tenetur recusandae qui itaque alias laboriosam sint facere similique illum.</li>
	</ul>

	<article class="video">
		<div class="video__container video--cover">
			<div class="cover_image video__image">
				<img src="https://picsum.photos/700/400">
			</div>
		</div>
	</article>


	<h6>Heading 6</h6>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore accusantium, dolores, sint voluptatum quisquam quibusdam ipsum quis, excepturi aliquam, delectus quidem. Fugiat voluptatum maiores nulla pariatur facere officiis, illo placeat sapiente? Cumque et dolorem, a assumenda officiis! Tenetur, saepe veritatis.</p>
	<blockquote><strong>“Life changing experience -</strong> After suffering from a genetic condition where her teeth crumbled away, Bridget turned to 3 Dental for help. Lorem ipsum dolor sit amet, consectetur adipiscing.”
	<cite>Anne O’Connell on her teeth in a day treatment.</cite></blockquote>

	<table>
		<thead>					
			<tr>
				<th>Heading 1</th>					
				<th>Heading 2</th>
				<th>Heading 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>								
				<td data-name="Heading 1">Phasellus</td>								
				<td data-name="Heading 2">Aliquam eleifend quam ut facilisis</td>								
				<td data-name="Heading 3">Duis elementum justo pellentesque lorem ipsum dolor sit</td>	
			</tr>
			<tr>
				<td data-name="Heading 1">Phasellus</td>								
				<td data-name="Heading 2">Aliquam eleifend quam ut facilisis</td>
				<td data-name="Heading 3">Duis elementum justo pellentesque lorem ipsum dolor sit</td>				
			</tr>
			<tr>
				<td data-name="Heading 1">Phasellus</td>								
				<td data-name="Heading 2">Aliquam eleifend quam ut facilisis</td>								
				<td data-name="Heading 3">Duis elementum justo pellentesque lorem ipsum dolor sit</td>
			</tr>
			<tr>				
				<td data-name="Heading 1">Phasellus</td>								
				<td data-name="Heading 2">Aliquam eleifend quam ut facilisis</td>								
				<td data-name="Heading 3">Duis elementum justo pellentesque lorem ipsum dolor sit</td>
			</tr>
			<tr>
				<td data-name="Heading 1">Phasellus</td>
				<td data-name="Heading 2">Aliquam eleifend quam ut facilisis</td>
				<td data-name="Heading 3">Duis elementum justo pellentesque lorem ipsum dolor sit</td>
			</tr>
		</tbody>
	</table>
	<hr />

	<!-- Layers -->
	<!-- ====== -->
	<h2>Layers</h2>
	<style>
		div.layer {
			box-shadow: 0 0 14px rgba(0, 0, 0, 0.15);
			padding: 15px 20px;
			margin-top: 20px;
		}
		div.layer > h3.layer__heading {
			text-transform: uppercase;
		    font-size: 0.7em;
		    border-bottom: 1px solid;
		    display: inline-block;
		    vertical-align: top;
		    margin-bottom: 0;
		    margin: 0;
		}
	</style>
	<div class="layer">
		<h3 class="layer__heading">Heading</h3>
		<div class="layer__container">
			<%- plugins.blocks([{ component: '[Layer] Heading', text: 'Lorem Ipsum Dolor Sit Amet' }]); %>
		</div>
	</div>
	<div class="layer">
		<h3 class="layer__heading">Image</h3>
		<div class="layer__container">
			<%- plugins.blocks([{ component: '[Layer] Image', image: '//a.storyblok.com/f/56036/1920x1444/fed719718c/default-banner.jpg', description: 'Lorem ipsum dolor sit amet', align: 'center', proportions: 'cover' }]); %>
		</div>
	</div>
	<div class="layer">
		<h3 class="layer__heading">Link</h3>
		<div class="layer__container">
			<%- plugins.blocks([{ component: '[Layer] Link', open: 'url', text: 'Lorem Ipsum', link: { url: '/styleguide' } }]); %>
		</div>
	</div>
	<div class="layer">
		<h3 class="layer__heading">Text</h3>
		<div class="layer__container">
			<%- plugins.blocks([{ component: '[Layer] Text', content: { value: 'Nullam fringilla libero sed urna placerat convallis. Integer in feugiat neque, nec lacinia mauris. Nam pellentesque ligula ligula, at rutrum lacus porttitor sed. Nunc ut nunc at lorem fermentum vehicula ut et ex. Aenean pretium vel tortor eget mattis. Cras egestas pellentesque dui in sagittis. Maecenas non risus rhoncus libero lobortis ullamcorper in sed urna. Aliquam egestas dui et metus iaculis fermentum. Fusce efficitur neque at auctor dictum. Praesent aliquam, massa ac hendrerit sodales, mi eros ornare justo, a rutrum tellus dolor id arcu. Quisque et ex lorem. Donec eget porta nisl. Nunc consectetur commodo commodo. Phasellus efficitur dui ut auctor aliquet. Nunc ultrices mattis sodales.' }, size: 'normal', alignment: 'left' }]); %>
		</div>
	</div>
	<div class="layer">
		<h3 class="layer__heading">Video</h3>
		<div class="layer__container">
			<%- plugins.blocks([{ component: '[Layer] Video', url: 'https://www.youtube.com/watch?v=YmWwZD5r6UU', cover: '//a.storyblok.com/f/56036/1920x1444/fed719718c/default-banner.jpg', align: 'center', proportions: 'cover', width: '100' }]); %>
		</div>
	</div>
</article>